@import url('common.css');

.wrap {
    width: 1400px;
    margin: 0 auto;
    background: #000;
}

#header {
    overflow: hidden;
    padding: 40px;
}

#header .nav {
    float: left;
}

#header .nav a {
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
}

#header .lang {
    float: right;
}

#header .lang a {
    color: #fff;
}


.visual {
    position: relative;
}

.visual > img {}

.visual .text {
    position: absolute;
    left: 10%;
    top: 10%;
}

.visual .text h2 {
    font-size: 5em;
    color: #fff;
    white-space: pre-line;
}

.visual .text p {
    color: #777;
}

.visual .text div {
    margin-top:100px;
}

.visual .text div span {
    white-space: pre-line;
    color:#fff;
    display:inline-block;
    margin-right:60px;
}

.visual .text div span a {
    display: inline-block;
    margin-top: 30px;
    font-style: italic;
    color:#fff;
}

.visual .sns{
    position:absolute;
    right:10%;
    bottom:10%;
}
