@import url('common.css');

.t_1 {
    border: 1px solid #000;
    border-collapse: collapse;
    /*여백 사라지게 함*/
    width: 80%;
    margin: 0 auto;
    /*    display: table;inline요소는 margin 못씀*/

}

.t_1 th,
.t_1 td {
    border: 1px solid #000;
}

.t_1 tr:nth-of-type(2)

/*2번째 tr중에서 첫번째놈*/
td:first-child {
    width: 200px;
    color: #0332fc;
    height: 100px;
}


/* <!--  =  t_2  =          -->*/
.t_2 {
    width: 80%;
    margin: 100px auto;
    border-collapse: collapse;
    /*사이사이 줄사이에 공백 사라짐*/

}

.t_2 th {
    background: #8c68f2;
    color: #fff;

}

.t_2 th,
.t_2 td {
    padding: 12px 0;
    border-bottom: 1px solid #000;
    text-align: center;

}

.t_2 td:nth-last-of-type(2) {
    text-align: left;
}

.t_2 td:nth-last-of-type(2) p {
    white-space: nowrap;
    /*데이터가 길어도 한줄처리됨*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*...*/
    width: 1000px;/*%는 늘어남*/
}

.t_3{border-spacing: 10px;
    border-color: #f00;
}
